@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% { transform: translateX(0); }
    50% { transform: translateX(-25%); }
    100% { transform: translateX(-50%); }
}

.achor {
    background-color: #f3f2f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%230800f9' fill-opacity='0.06' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.nutrion-facts {
    font-size: small;
    line-height: 1.4;
}
.nutrion-facts p {
    margin: 0;
}
.performance-facts {
    border: 1px solid black;
    padding: 0.5rem;
}
.performance-facts__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
}
.performance-facts__header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}
.performance-facts__table {
    width: 100%;
    border-collapse: collapse;
}
.performance-facts__table th,
.performance-facts__table td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
}
.performance-facts__table .blank-cell {
    width: 1rem;
    border-top: 0;
}
.performance-facts__table .thick-row th,
.performance-facts__table .thick-row td {
    border-top-width: 5px;
}
.performance-facts__table--grid {
    width: 100%;
    border-collapse: collapse;
}
.performance-facts__table--grid td {
    padding: 0.25rem 0;
}
.performance-facts__table--grid td:last-child {
    text-align: left;
}
.performance-facts__table--grid td:last-child::before {
    content: "•";
    font-weight: bold;
    margin: 0 0.25rem 0 0;
}
.small-info {
    font-size: 0.7rem;
}
.thick-end {
    border-bottom: 10px solid black;
}
.thin-end {
    border-bottom: 1px solid black;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .performance-facts {
        width: 100%;
    }
    .performance-facts__table th,
    .performance-facts__table td {
        white-space: normal;
        padding: 0.5rem;
    }
}
